[Unit]
Description=Docker Compose container starter
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
WorkingDirectory=/home/deployer/commute
Type=oneshot
RemainAfterExit=yes

ExecStartPre=/usr/local/bin/docker-compose -f docker-compose.deploy.yml pull --quiet --parallel
ExecStart=/usr/local/bin/docker-compose -f docker-compose.deploy.yml up -d

ExecStop=/usr/local/bin/docker-compose -f docker-compose.deploy.yml down

ExecReload=/usr/local/bin/docker-compose -f docker-compose.deploy.yml pull --quiet --parallel
ExecReload=/usr/local/bin/docker-compose -f docker-compose.deploy.yml up -d

[Install]
WantedBy=multi-user.target