/* .navButton {
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    background-size: '100% 100%';
} */

.navButtion img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}


.navButton {
    position: relative;
    z-index: 1;
}

.navButton .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.navButton:hover .bg {
    cursor: pointer;
    opacity: .4;
}

.navButton .hoverAntiDisplay {
    display: block;
}

.navButton:hover .hoverAntiDisplay {
    display: none;
    height: 0;
}

.navButton .hoverDisplay {
    display: none;
    height: 0;
}

.navButton:hover .hoverDisplay {
    display: block;
}

.backContainer {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.backContainer .largeBG {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    right: 0;
    width: 100%;
    height: 100%;
}


.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}